<%- include layouts/header.ejs %>

	<!-- Main -->
	<section id="main" class="container">
		<header>
			<h2>Elements</h2>
			<p>Just an assorted selection of elements.</p>
		</header>
		<div class="row">
			<div class="12u">
				<!-- Form -->
				<section class="box">
					<center>
						<h3>Formulário</h3></center>
					<form method="post" action="/form">
						<% if (message.length > 0) { %>
							<div class="alert alert-success">
								<%= message %>
							</div>
							<% } %>
								<h4>Participação</h4>
								<div class="row uniform 50%">
									<% participacao.forEach(function(item) { %>
										<div class="4u 12u(narrower)">
											<% if (item.id == 1) { %>
												<input type="radio" id="<%= item.id %>" name="participacao" value="<%= item.id %>" checked>
												<% } else { %>
													<input type="radio" id="<%= item.id %>" name="participacao" value="<%= item.id %>" >
													<% } %>
														<label for="<%= item.id %>"><%= item.descricao %></label>
										</div>
										<% }) %>
								</div>
								<h4>Categoria</h4>
								<div class="row uniform 50%">
									<div class="12u">
										<div class="select-wrapper">
											<select name="categoria" id="categoria" onChange="showDiv(this.value);" required="" oninvalid="this.setCustomValidity('Campo obrigatório')" oninput="setCustomValidity('')" >
														<option value="">- Selecione -</option>
														<% categoria.forEach(function(item) { %>
        												<option value="<%= item.id %>"><%= item.descricao %></option>
  														<% }) %>
													</select>
										</div>
									</div>
								</div>
								<h4 id="tipotitulo" style="display: none;">Tipo</h4>
								<div id="tipo" class="row uniform 50%" style="display: none;">
										<div class="2u 12u(narrower)">
											<input type="checkbox" id="passeio" name="passeio">
											<label for="passeio">Passeio</label>
										</div>
										<div class="2u 12u(narrower)">
											<input type="checkbox" id="conversivel" name="conversivel">
											<label for="conversivel">Conversível</label>
										</div>
										<div class="2u 12u(narrower)">
											<input type="checkbox" id="pickup" name="pickup">
											<label for="pickup">Pickup</label>
										</div>
										<div class="2u 12u(narrower)">
											<input type="checkbox" id="suv" name="suv">
											<label for="suv">SUV</label>
										</div>
										<div class="2u 12u(narrower)">
											<input type="checkbox" id="antigo" name="antigo">
											<label for="antigo">Antigo</label>
										</div>
								</div>
								<h4 id="cilindradatitulo" style="display: none;">Cilindrada</h4>
								<div id="cilindradadiv" class="row uniform 50%" style="display: none;">
									<div class="12u">
										<div class="select-wrapper">
											<select name="cilindrada" id="cilindrada">
														<option value="0">- Selecione -</option>
														<option value="50">50</option>
														<option value="100">100</option>
														<option value="125">125</option>
														<option value="150">150</option>
														<option value="200">200</option>
														<option value="250">250</option>
														<option value="300">300</option>
														<option value="350">350</option>
														<option value="400">400</option>
														<option value="450">450</option>
														<option value="500">500</option>
														<option value="550">550</option>
														<option value="600">600</option>
														<option value="650">650</option>
														<option value="700">700</option>
														<option value="750">750</option>
														<option value="800">800</option>
														<option value="850">850</option>
														<option value="900">900</option>
														<option value="950">950</option>
														<option value="1000">1000</option>
														<option value="1001">Acima de 1000</option>
													</select>
										</div>
									</div>
								</div>
								<h4>Marca</h4>
								<div class="row uniform 50%">
									<div class="12u">
										<div class="select-wrapper">
											<select name="marca" id="marca" required="" oninvalid="this.setCustomValidity('Campo obrigatório')" oninput="setCustomValidity('')">
														<option value="">- Selecione -</option>
														<% marca.forEach(function(item) { %>
        												<option value="<%= item.id %>"><%= item.descricao %></option>
  														<% }) %>
													</select>
										</div>
									</div>
								</div>
								<h4>Modelo</h4>
								<div class="row uniform 50%">
									<div class="12u 12u(mobilep)">
										<input type="text" name="modelo" id="modelo" />
									</div>
								</div>
								<h4>Ano</h4>
								<div class="row uniform 50%">
									<div class="6u 12u(narrower)">
										<div class="select-wrapper">
											<select name="anoini" id="anoini">
														<option value="">- De -</option>
														<% for(var i = new Date().getFullYear(); i >= 1900; i--) { %>
        												<option value="<%= i %>"><%= i %></option>
  														<% } %>
													</select>
										</div>
									</div>
									<div class="6u 12u(narrower)">
										<div class="select-wrapper">
											<select name="anofim" id="anofim">
														<option value="">- Até -</option>
														<% for(var i = new Date().getFullYear(); i >= 1900; i--) { %>
        												<option value="<%= i %>"><%= i %></option>
  														<% } %>
													</select>
										</div>
									</div>
								</div>
								<h4>Cor</h4>
								<div class="row uniform 50%">
									<div class="12u">
										<div class="select-wrapper">
											<select name="cor" id="cor">
														<option value="">- Selecione -</option>
														<% cor.forEach(function(item) { %>
        												<option value="<%= item.id %>"><%= item.descricao %></option>
  														<% }) %>
													</select>
										</div>
									</div>
								</div>
								<h4>Combustível</h4>
								<!-- <div class="row uniform 50%" style="display: none;"> -->
								<div class="row uniform 50%">
										<div class="3u 12u(narrower)">
											<input type="checkbox" id="alcool" name="alcool">
											<label for="alcool">Alcool</label>
										</div>
										<div class="3u 12u(narrower)">
											<input type="checkbox" id="gasolina" name="gasolina">
											<label for="gasolina">Gasolina</label>
										</div>
										<div class="3u 12u(narrower)">
											<input type="checkbox" id="diesel" name="diesel">
											<label for="diesel">Diesel</label>
										</div>
										<div class="3u 12u(narrower)">
											<input type="checkbox" id="flex" name="flex">
											<label for="flex">Flex</label>
										</div>
								</div>
								<h4>Lance</h4>
								<div class="row uniform 50%">
									<div class="6u 12u(mobilep)">
										<input type="text" name="lancemin" id="lancemin" value="0,00" placeholder="Lance mínimo" onKeyPress="return(MascaraMoeda(this,'.',',',event))" />
									</div>
									<div class="6u 12u(mobilep)">
										<input type="text" name="lancemax" id="lancemax" value="0,00" placeholder="Lance máximo" onKeyPress="return(MascaraMoeda(this,'.',',',event))" />
									</div>
								</div>
								<h4>Avaliação</h4>
								<div class="row uniform 50%">
									<div class="6u 12u(mobilep)">
										<input type="text" name="avaliacaomin" id="avaliacaomin" value="0,00" placeholder="Valor mínimo" onKeyPress="return(MascaraMoeda(this,'.',',',event))" />
									</div>
									<div class="6u 12u(mobilep)">
										<input type="text" name="avaliacaomax" id="avaliacaomax" value="0,00" placeholder="Valor máximo" onKeyPress="return(MascaraMoeda(this,'.',',',event))" />
									</div>
								</div>
								<h4>Sucata</h4>
								<div class="row uniform 50%">
									<div class="6u 12u(narrower)">
										<input type="radio" id="simsucata" name="sucata" checked>
										<label for="simsucata">Sim</label>
									</div>
									<div class="6u 12u(narrower)">
										<input type="radio" id="naosucata" name="sucata">
										<label for="naosucata">Não</label>
									</div>
								</div>
								<h4>Sinistro</h4>
								<div class="row uniform 50%">
									<div class="6u 12u(narrower)">
										<input type="radio" id="simsinistro" name="sinistro" checked>
										<label for="simsinistro">Sim</label>
									</div>
									<div class="6u 12u(narrower)">
										<input type="radio" id="naosinistro" name="sinistro">
										<label for="naosinistro">Não</label>
									</div>
								</div>
								<h4>Informações Adicionais</h4>
								<div class="row uniform 50%">
									<div class="12u">
										<textarea name="infoadd" id="infoadd" placeholder="Informações adicionais" rows="6"></textarea>
									</div>
								</div>
								<hr />
								<center>
									<div class="row uniform">
										<div class="12u">
											<ul class="actions">
												<li><input type="submit" value="Enviar" /></li>
												<li><input type="reset" value="Reset" class="alt" /></li>
											</ul>
										</div>
									</div>
								</center>
					</form>
				</section>

			</div>
		</div>
	</section>

	<%- include layouts/footer.ejs %>
