<%- include layouts/header.ejs %>

	<!-- Main -->
	<section id="main" class="container">
		<header>
			<h2>Elements</h2>
			<p>Just an assorted selection of elements.</p>
		</header>
		<div class="row">
			<div class="12u">

				<!-- Table -->
				<section class="box">
					<center><h3>Formuários recebidos</h3></center>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome Solicitante</th>
									<th>Data da Solicitação</th>
									<th>Ação</th>
								</tr>
							</thead>
							<tbody>
								<% lista.forEach(function(item) { %>
										<tr>
										<td><%= item.id %></td>
										<td><%= item.nome %></td>
										<td><%= item.data_envio %></td>
										<td><a href="../relatorio/<%= item.id %>">visualizar</a></td>
										</tr>
									<% }) %>
						</table>
					</div>
				</section>
			</div>
		</div>
	</section>

	<%- include layouts/footer.ejs %>
